{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block title %} Create Listing {% endblock title %}
    

{% block body %}
<section class="ad-post bg-gray py-5">
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <fieldset class="border border-gray p-4 mb-4">
        <!-- <div class="row">
          <div class="col-lg-12">
            <h3 class="font-weight-bold">Create Your Listing</h3>
          </div>
          <div class="col-lg-6">
            <h6 class="font-weight-bold pt-4 pb-1">Listing Title:</h6>
            
          </div>
        </div> -->
        {{ form|crispy }}
      </fieldset>
    </form>

  </div>

</section>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
]    <button type="submit" value="Save">Create</button>
  </form>
{% endblock body %}