{% extends "auctions/layout.html" %}
{% load comments %}
{% block title %} {{ listing.title }} {% endblock title %}

{% block body %}
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="product-details">
          <h1 class="product-title">{{ listing.title }}</h1>
          <div class="product-meta">
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa fa-user-o"> By <strong>{{ listing.seller }}</strong></i>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-folder-open-o"> Category <strong>{{ listing.category }}</strong></i>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-clock-o"> Time Left <strong>{{ listing.end_date|timeuntil }}</strong></i>
              </li>
            </ul>
          </div>
          <div class="my-4">
            <img class="d-block img-fluid w-100" src="{{ listing.image.url }}" alt="{{ listing.title }} image">
          </div>
          <!-- Listing Tabs -->
          <div class="content mt-5 pt-5">
            <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                  aria-controls="pills-home" aria-selected="true">
                  Product Description
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                  aria-controls="pills-profile" aria-selected="false">
                  Auction Details
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                  aria-controls="pills-contact" aria-selected="false">
                  Comments
                </a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <!-- Product Description Tab-->
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                aria-labelledby="pills-profile-tab">
                <h3 class="tab-title">Product Description</h3>
                <p>{{ listing.description }}</p>
              </div>
              <!-- Auction Details Tab -->
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <h3 class="tab-title">Auction Details</h3>
                <table class="table table-bordered product-table">
                  <tbody>
                    <tr>
                      <td>Seller</td>
                      <td>{{ listing.seller }}</td>
                    </tr>
                    <tr>
                      <td>Posted</td>
                      <td>{{ listing.creation_timestamp|date:'F d, Y' }}</td>
                    </tr>
                    <tr>
                      <td>Current Bid</td>
                      <td>${{ listing.top_bid }}</td>
                    </tr>
                    <tr>
                      <td>Starting Bid</td>
                      <td>${{ listing.starting_bid }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Comments Tab -->
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <h3 class="tab-title">Comments</h3>
                {% get_comment_list for listing as comment_list %}
                <div class="comment-section">
                  {% for comment in comment_list %}
                  <div class="media">
                    <img src="{{ user.profile.image.url }}" alt="{{ user }} profile picture.">
                    <div class="media-body">
                      <div class="name">
                        <h5>{{ comment.user_name }}</h5>
                      </div>
                      <div class="date">
                        <p>{{ comment.submit_date }}</p>
                      </div>
                      <div>
                        <p>{{ comment.comment }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="comment-form">
                    {% if user.is_authenticated %}
                    <h3 class="tab-title">Join the Conversation</h3>
                    {% get_comment_form for listing as comment_form %}
                    <form action="{% comment_form_target %}" method="POST">
                      {% csrf_token %}
                      {{ comment_form.comment }}
                      {{ comment_form.honeypot }}
                      {{ comment_form.content_type }}
                      {{ comment_form.object_pk }}
                      {{ comment_form.timestamp }}
                      {{ comment_form.security_hash }}
                      <input type="hidden" name="next" value="{% url 'auctions:listing' listing.id %}" />
                      <input type="submit" value="Leave Comment" class="btn btn-transparent" />
                    </form>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- End Listing Tabs -->
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div class="col-md-4">
        <div class="sidebar">
          <!-- Bid Widget -->
          <div class="widget price text-center">
            {% if listing.is_active %}
            <h4 class="bid-header">Current Bid</h4>
            <div class="bid-data">${{ listing.top_bid }}</div>
            <h4 class="bid-header">Open for</h4>
            <div class="bid-data">{{ listing.end_date|timeuntil }}</div>
            {% if user.is_authenticated %}

            {% if user != listing.seller %}
            <form action="{% url 'auctions:create_bid' listing.id %}" method="post">
              {% csrf_token %}
              {{ bid_form }}
              {{ bid_form.errors }}
              <input type="submit" value="Bid">
            </form>
            {% endif %}

            {% else %}
            <!-- User not logged in -->
            <a href="{% url 'users:login' %}">Log in</a><span class="text-white"> to bid on this listing.</span>
            {% endif %}

            {% else %}
            <!-- Listing not active -->
            This listing is closed.
            {% endif %}
          </div>
          <!-- User Widget -->
          <div class="widget user text-center">
            <h5 class="widget-header">Listed By:</h5>
            <img class="rounded-circle img-fluid mb-5 px-5" src="{{ user.profile.image.url }}"
              alt="{{ listing.seller }} profile image">
            <h4><a href="#">{{ listing.seller }}</a></h4>
            <p class="member-time">Member since {{ listing.seller.date_joined|date:"F d, Y" }}</p>
          </div>
          <!-- Watchlist Widget -->
          <div class="widget watchlist">
            {% if user.is_authenticated %}
            {% if is_watched %}
            <h5 class="widget-header text-center">You're currently watching this listing.</h5>
            <div class="watch-link">
              <form action="{% url 'auctions:remove_from_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Remove from my watchlist">
              </form>
            </div>
            {% else %}
            <h5 class="widget-header text-center">You're not currently watching this listing.</h5>
            <div class="watch-link">
              <form action="{% url 'auctions:add_to_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Add to my watchlist">
              </form>
            </div>
            {% endif %}
            {% else %}
            <!-- User is not logged in -->
            <div class="watch-link">
              <a href="{% url 'users:login' %}">Log in to add this listing to your watchlist</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock body %}