{% extends "auctions/layout.html" %}

{% block title %} {{ user }}'s Account {% endblock title %}

{% block body %}
<section class="dashboard-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
        <div class="sidebar">
          <div class="widget user-dashboard-profile">
            <div class="profile-thumb">
              <img class="rounded-circle" src="{{ user.image.url }}" alt="{{ user }} profile picture.">
            </div>
            <h5 class="text-center">{{ user }}</h5>
            <p>Joined {{ user.date_joined|date:"F d, Y"}}</p>
          </div>
          <div class="widget user-dashboard-menu">
            <ul class="nav nav-pills justify-content-center flex-column" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab" aria-controls="pills-active" aria-selected="True">
                  <i class="fa fa-check"></i>
                  Active Listings 
                  <span>{{ active_listings|length }}</span>
                </a>
              </li>
							<li class="nav-item">
								<a class="nav-link" id="pills-watchlist-tab" data-toggle="pill" href="#pills-watchlist" role="tab" aria-controls="pills-watchlist" aria-selected="false">
                  <i class="fa fa-bookmark"></i>
                  Watchlist 
                  <span>{{ watchlist|length }}</span>
                </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-archived-tab" data-toggle="pill" href="#pills-archived" role="tab" aria-controls="pills-archived" aria-selected="false">
                  <i class="fa fa-history"></i>
                  Archived Listings
                  <span>{{ archived_listings|length }}</span>
                </a>
							</li>
              <li class="nav-item">
								<a class="nav-link" id="pills-won-tab" data-toggle="pill" href="#pills-won" role="tab" aria-controls="pills-won" aria-selected="false">
                  <i class="fa fa-trophy"></i>
                  Won Listings
                  <span>{{ user.won.all|length }}</span>
                </a>
							</li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-edit"></i>
                  Edit Account
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">
                  <i class="fa fa-sign-out"></i>
                  Logout
                </a>
							</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
        <div class="widget dashboard-container my-adslist">
          <div class="tab-content" id="pills-tabContent">
            <!-- Active Listings-->
            <div class="tab-pane active" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">
              <h3 class="tab-title">My Active Listings</h3>
            {% if active_listings %}
              <table class="table table-responsive product-dashboard-table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Product Title</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for listing in active_listings %}
                  <tr>
                    <td class="product-thumb">
                      <a href="{% url 'auctions:listing' listing.id %}">
                        <img class="card-img-top" src="{{ listing.image.url }}" alt="{{ listing.title }} image">
                      </a>
                    </td>
                    <td class="product-details">
                      <h3 class="title"><a href="{% url 'auctions:listing' listing.id %}">{{ listing.title }}</a></h3>
                      <span><strong>Posted on: </strong><time>{{ listing.creation_timestamp|date:'F d, Y' }}</time></span>
                      <span><strong>Time Left: </strong>{{ listing.end_date|timeuntil }}</span>
                      <span><strong>Top Bid: </strong>${{ listing.top_bid }}</span>
                    </td>
                    <td class="product-category">
                      <span class="categories">{{ listing.category }}</span>
                    </td>
                    <td class="action" data-title="Action">
                      <ul class="list-inline justify-content-center">
                        <li class="list-inline-item">
                          <a data-toggle="tooltip" data-placement="top" title="View" class="view" href="{% url 'auctions:listing' listing.id %}">
                            <i class="fa fa-eye"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="delete" data-toggle="tooltip" data-placement="top" title="Delete Listing" href="#">
                            <i class="fa fa-trash"></i>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
              Nothing to report.
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
    