{% extends "auctions/layout.html" %}
{% load static %}

{% block title %} {{ user }}'s Account {% endblock title %}

{% block body %}
<section class="dashboard-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
        <div class="sidebar">
          <div class="widget user-dashboard-profile">
            <div class="profile-thumb">
              <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="{{ user }} profile picture.">
            </div>
            <h5 class="text-center">{{ user }}</h5>
            <p>Joined {{ user.date_joined|date:"F d, Y"}}</p>
          </div>
          <div class="widget user-dashboard-menu">
            <ul class="nav nav-pills justify-content-center flex-column" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab" aria-controls="pills-active" aria-selected="True">
                  <i class="fa fa-check"></i>
                  Active Listings 
                  <span>{{ active_listings|length }}</span>
                </a>
              </li>
							<li class="nav-item">
								<a class="nav-link" id="pills-watchlist-tab" data-toggle="pill" href="#pills-watchlist" role="tab" aria-controls="pills-watchlist" aria-selected="false">
                  <i class="fa fa-bookmark"></i>
                  Watchlist 
                  <span>{{ watchlist|length }}</span>
                </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-archived-tab" data-toggle="pill" href="#pills-archived" role="tab" aria-controls="pills-archived" aria-selected="false">
                  <i class="fa fa-history"></i>
                  Archived Listings
                  <span>{{ archived_listings|length }}</span>
                </a>
							</li>
              <li class="nav-item">
								<a class="nav-link" id="pills-won-tab" data-toggle="pill" href="#pills-won" role="tab" aria-controls="pills-won" aria-selected="false">
                  <i class="fa fa-trophy"></i>
                  Won Listings
                  <span>{{ user.won.all|length }}</span>
                </a>
							</li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-edit"></i>
                  Edit Account
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">
                  <i class="fa fa-sign-out"></i>
                  Logout
                </a>
							</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
    