{% extends "auctions/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Register {% endblock title %}

{% block body %}
    <section class="login py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 align-item-center">
                    <div class="border">
                        <h3 class="bg-gray p-3">Join Today</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="p-3">
                                {{ form|crispy }}
                            </fieldset>
                            <button type="submit" class="m-3 center-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">
								Sign Up
                            </button>
                        </form>
                        <div class="border-top p-3">
                            <small class="text-muted">
                                Already have an account? <a href="#">Sign In</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}